@model Category

@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


}



<form asp-action="UpdateCategory" asp-controller="Category" method="post" class="p-3 w-75 m-auto">

    <input type="hidden" asp-for="ID" />
    <div class="mb-3">
        <label>Kategori ismini giriniz</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Aciklama  giriniz</label>
        <input asp-for="Description" class="form-control" />
    </div>


    <div class="mb-3">
        <button class="btn btn-primary">Kategori Güncelle</button>
    </div>
</form>

